<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/dashboard">C-Panel</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-expand-lg">
    <div class="navbar-nav px-4">
      <div class="nav-item text-nowrap">
        <!-- <a type="button" class="px-3 btn btn-danger" href="logout">Logout</a> -->
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/api/users">
                Usuarios
              </a>
            </li>
            <a class="nav-link" aria-current="page" href="/messages">
              Mensajes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/create/email">
              Crear mensaje
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal   -->
    <%- include('partials/navigation.ejs')%>
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Dashboard</h2>
        <h2>Bienvenido:
          <% if (user) { %>
            <span class="badge bg-success"><%= user.name %></span>
          <% } %>
        </h2>
      </div> 
      <%- include('partials/footer.ejs')%>
    </main>
  </div>
</div>

  </body>
</html>