<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h3>Contact me</h3>
            </div>
            <div class="card-body">
                <form action="/create/email" method="POST">
                    <!-- <div class="mb-3">
                        <label for="name">name</label>
                        <input type="text" name="name" placeholder="Name" class="form-control" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" placeholder="Phone" class="form-control">
                    </div> -->
                    <div class="mb-3">
                        <label for="message">message</label>
                        <textarea name="message" rows="3" class="form-control" placeholder="Write a Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>
    <% if(alert) { %>
        <script>
          Swal.fire({
            title: '<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
          }).then(()=>{
            window.location = '/<%= ruta %>'
          })
        </script>
    <% } %>
    
</body>
</html>