<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>
    
    <% if (user) { %>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h3>Edit user <%= user.name %></h3>
            </div>
            <div class="card-body">
                <form action="/api/message/edit/<%= user.id %>" method="POST">
                    <input id="id" name="id" value="<%= user.id %>" type="text" hidden>
                    <div class="mb-3">
                        <label for="name">name</label>
                        <input type="text" name="name" placeholder="Name" class="form-control" autofocus value="<%= user.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Email" class="form-control" value="<%= user.email %>">
                    </div>
                    <div class="mb-3">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" placeholder="Phone" class="form-control" value="<%= user.phone %>">
                    </div>
                    <div class="mb-3">
                        <label for="message">message</label>
                        <textarea name="message" rows="3" class="form-control" placeholder="Write a Message" ><%= user.message %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                    <a href="/messages" type="button" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <% } %>

    <%- include('partials/footer.ejs')%>
    
</body>
</html>