<!DOCTYPE html>
<html lang="<%= currentLocale %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head.ejs') %>
</head>

<body>

    <%- include('partials/navigation.ejs') %>

        <!-- main content -->
        <header class="container d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-1 text-uppercase fw-bold" alt="Enrique.dev">Enrique</h1>
                <p class="lead text-center my-4" style="max-width: 600px;">
                    <strong style="color: var(--color-destacado);">
                        <%= __('Desarrollador FullStack') %>
                    </strong><br>
                    <%= __('experiencia_texto') %>
                </p>
                <a href="/about" class="btn btn-primary" alt="<%= __('Acerca de mí') %>">
                    <%= __('Acerca de mí') %>
                </a>
                <a href="/curriculum" target="_blank" class="btn btn-primary mt-2" alt="<%= __('Currículum') %>">
                    <%= __('Currículum') %>
                </a>
            </div>
        </header>

        <div id="seccion-4" class="container service post_article sectionmenuus">
            <p class="tittleService">
                <%= __('Servicios') %>
            </p>
            <div class="row justifyCenter">
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item1.png" alt="<%= __('desarrollo web') %>" />
                        <p class="tittleCard">
                            <%= __('Desarrollo Web') %>
                        </p>
                        <p>
                            <%= __('desarrollo_web_desc') %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item3.png" alt="<%= __('Plataformas') %>" />
                        <p class="tittleCard">
                            <%= __('Plataformas') %>
                        </p>
                        <p>
                            <%= __('plataformas_desc') %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item4.png" alt="<%= __('Ecommerce') %>" />
                        <p class="tittleCard">
                            <%= __('Ecommerce') %>
                        </p>
                        <p>
                            <%= __('ecommerce_desc') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justifyCenter">
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item6.png" alt="<%= __('cms') %>" />
                        <p class="tittleCard">
                            <%= __('CMS') %>
                        </p>
                        <p>
                            <%= __('cms_desc') %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item7.png" alt="<%= __('diseño web') %>" />
                        <p class="tittleCard">
                            <%= __('Diseño Web Efectivo') %>
                        </p>
                        <p>
                            <%= __('diseno_web_desc') %>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                    <div class="animationCard">
                        <img class="items" src="/images/item8.png" alt="<%= __('Consultoria') %>" />
                        <p class="tittleCard">
                            <%= __('Consultoría UX/UI') %>
                        </p>
                        <p>
                            <%= __('consultoria_desc') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="seccion-5" class="sitios post_article sectionmenuus">
            <div class="container">
                <div class="tituloSitios">
                    <%= __('Portafolio') %>
                </div>
                <p class="text-center mb-5">
                    <%= __('visitar_texto') %> <a href="https://www.weclickdigital.com/" target="_blank"
                            rel="noopener noreferrer" class="link-destacado">Weclick Digital</a>,
                        <%= __('proyectos_texto') %>
                </p>
                <div class="row">
                    <div class="col-md-4" id="Minestle">
                        <a target="_blank" href="https://www.minestle.com/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Mi Nestlé (Centroamérica)</h5>
                            <p>
                                <%= __('minestle_desc') %>
                            </p>
                            <span class="badge bg-secondary">Drupal</span>
                            <span class="badge bg-secondary">PHP</span>
                            <span class="badge bg-secondary">CSS3</span>
                        </div>
                    </div>
                    <div class="col-md-4" id="nescafe">
                        <a target="_blank" href="https://www.nescafe.com/cam/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Nescafé (Guatemala)</h5>
                            <p>
                                <%= __('nescafe_desc') %>
                            </p>
                            <span class="badge bg-secondary">Drupal</span>
                            <span class="badge bg-secondary">PHP</span>
                            <span class="badge bg-secondary">CSS3</span>
                        </div>
                    </div>
                    <div class="col-md-4" id="CryptoCoinExpo">
                        <a target="_blank" href="https://demo.weclickdigital.com/CryptoCoinExpo/"
                            rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Crypto Coin Expo</h5>
                            <p>
                                <%= __('crypto_desc') %>
                            </p>
                            <span class="badge bg-secondary">React</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" id="chappsy">
                        <a>
                            <div class="verSitio">
                                <%= __('No disponible') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Chappsy Guatemala</h5>
                            <p>
                                <%= __('chappsy_desc') %>
                            </p>
                            <span class="badge bg-secondary">React</span>
                        </div>
                    </div>
                    <div class="col-md-4" id="viajegt">
                        <a target="_blank" href="https://viajegt.com/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Viaje GT (COMITURS - Agexport)</h5>
                            <p>
                                <%= __('viajegt_desc') %>
                            </p>
                            <span class="badge bg-secondary">WordPress</span>
                            <span class="badge bg-secondary">PHP</span>
                            <span class="badge bg-secondary">CSS3</span>
                        </div>
                    </div>
                    <div class="col-md-4" id="Agexport">
                        <a target="_blank" href="https://sectores.export.com.gt/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Sectores de Exportación AGEXPORT</h5>
                            <p>
                                <%= __('agexport_desc') %>
                            </p>
                            <span class="badge bg-secondary">WordPress</span>
                            <span class="badge bg-secondary">PHP</span>
                            <span class="badge bg-secondary">CSS3</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" id="checklisttoys">
                        <a target="_blank" href="https://motu.checklisttoys.com/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Checklist Toys</h5>
                            <p>
                                <%= __('checklist_desc') %>
                            </p>
                            <span class="badge bg-secondary">Yii2</span>
                            <span class="badge bg-secondary">MySQL</span>
                        </div>
                    </div>
                    <div class="col-md-4" id="medicentergt">
                        <a target="_blank" href="http://medicentergt.com/" rel="noopener noreferrer">
                            <div class="verSitio">
                                <%= __('Ver sitio web') %>
                            </div>
                            <div class="template-scroll"></div>
                        </a>
                        <div class="project-description">
                            <h5>Medicenter Guatemala</h5>
                            <p>
                                <%= __('medicenter_desc') %>
                            </p>
                            <span class="badge bg-secondary">Yii2</span>
                            <span class="badge bg-secondary">MySQL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
            <% if(alert) { %>
                <script>
                    Swal.fire({
                        title: '<%= alertTitle %>',
                        text: '<%= alertMessage %>',
                        icon: '<%= alertIcon %>',
                        showConfirmButton: '<%= showConfirmButton %>',
                        timer: '<%= timer %>'
                    }).then(() => {
                        window.location = '/<%= ruta %>'
                    })
                </script>
                <% } %>

</body>

</html>