<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    
  <%- include('partials/navigation.ejs')%>
    
  <main class="form-signin text-center shadow-lg p-3 mb-5">

    <form id="formLogin" action="/login" method="POST">
      <!-- <img class="mb-4 imgLogo" src="../images/developer.png" alt="" width="72" height="57"> -->
      <div>
        <input type="text" class="form-control" id="user" name="user" placeholder="Usuario">
      </div>
      <div>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Contraseña">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>    
    </form>

    <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>
  </main>

  <%- include('partials/footer.ejs')%>
  <% if(alert) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
        window.location = '/<%= ruta %>'
      })
    </script>
  <% } %>

  </body>
</html>
