<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/navigation.ejs')%>
    
    <div class="container">
        <a href="/create/email" class="btn btn-outline-info"> Create <i class="fa fa-plus"></i></a>
        <table id="messageTable" class="tableUser">
            <thead>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
                <th>Created</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <% users.forEach((user)=> { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.message %></td>
                        <td><%= user.created_at %></td>
                        <td>
                            <a href="/message/<%= user.id %>" class="btn btn-outline-info"> <i class="fa fa-eye"></i></a>
                            <a href="/message/edit/<%= user.id %>" class="btn btn-outline-info"> <i class="fa fa-edit"></i></a>
                            <button class="btn btn-outline-danger" onclick="confirmarBorrado('<%= user.id %>')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('partials/footer.ejs')%>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>

    <script>
        $(document).ready(function() {
            $('#messageTable').DataTable();
        });

        function confirmarBorrado(userId) {
            if (confirm("¿Está seguro que desea borrar este usuario?")) {
                window.location.href = "/api/user/delete/" + userId;
            }
        }
    </script>

    
</body>
</html>